@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
  <li>
    <form id="logoutForm" class="form-inline" aria-autocompleteasp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
      @Html.AntiForgeryToken()
      <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    </form>
  </li>
  if (User.IsInRole("Admin"))
  {
    <li><a class="text text-danger bg-danger" href="~/admin">Site Administration</a></li>
  }
}
else
{
    <li><a class="nav-link text-dark" asp-page="/Account/Login">Login</a></li>
}
